### Lemmatization & tagging for Russian texts

The package used here is Python [Pymystem3](https://pypi.org/project/pymystem3/)

In [1]:
import re
import json
import pandas as pd
from pymystem3 import Mystem

m = Mystem()

In [2]:
test = 'Попробуй этих мягких французских булок'
lemma = m.lemmatize(test)
print(lemma) # list output

['попробовать', ' ', 'этот', ' ', 'мягкий', ' ', 'французский', ' ', 'булка', '\n']

In [3]:
import os
os.getcwd()

'/home/tonya/Documents/est_np/scr/rus'

In [4]:
os.chdir('../../')

In [6]:
df = pd.read_csv('data/biling_1880_nf.csv')
df.head()

   Unnamed: 0                  PageID  word    n
0           1  livzeitung18820531.1.9  groß  259
1           2  livzeitung18820531.1.9  thlr  257
2           3  livzeitung18871113.1.6   лес  165
3           4  livzeitung18851023.1.2   der  157
4           5  livzeitung18800611.1.6  groß  152

In [7]:
len(df)

4112746

In [8]:
df = df.loc[df.word.apply(lambda x: not isinstance(x, (float, int)))]

In [9]:
len(df)

4112741

In [10]:
df['lemma'] = df['word'].apply(m.lemmatize)
df['lemma'] = [''.join(map(str, l)) for l in df['lemma']] 
df['lemma'] = df['lemma'].str.replace('\n', '', regex = True)

In [11]:
print(df.head(1000))

     Unnamed: 0                  PageID     word    n    lemma
0             1  livzeitung18820531.1.9     groß  259     groß
1             2  livzeitung18820531.1.9     thlr  257     thlr
2             3  livzeitung18871113.1.6      лес  165      лес
3             4  livzeitung18851023.1.2      der  157      der
4             5  livzeitung18800611.1.6     groß  152     groß
..          ...                     ...      ...  ...      ...
995         996  livzeitung18830610.1.6      des   59      des
996         997  livzeitung18830919.1.6      von   59      von
997         998  livzeitung18831017.1.5      und   59      und
998         999  livzeitung18831109.1.3      und   59      und
999        1000  livzeitung18840125.1.5  gesinde   59  gesinde

[1000 rows x 5 columns]

In [12]:
df.to_csv('data/MFW_biling_1880_lem.csv')